# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore DS_Store
.DS_Store

# Ignore Profile Images
/public/uploads/
# Ignore application configuration
/config/application.yml
