<div id="admin_top" class="admin_block">
  <div class="wrapper">
    <h1>Admin Portal: <span class="bolder"><%= user.first_name %> <%= user.last_name %></span></h1>
    <ul class="user_admin_nav">
      <li><a href="#new">new</a></li>
      <li><a href="#invited">invited</a></li>
      <li><a href="#created">created</a></li>
    </ul>
  </div>
</div>