<div id="admin_top" class="admin_block">
  <div class="wrapper">
    <h1>your groupact portal: <span class="bolder"><%= user.first_name %> <%= user.last_name %></span></h1>
    <%= image_tag '/assets/story.png', :class => 'story_image' %>
    <ul class="user_admin_nav">
      <li><a href="#new">new</a></li>
      <li><a href="#events">events</a></li>
      <li><%= link_to 'profile', profile_path(current_user.url)%></li>
    </ul>
  </div>
</div>
