<div id="create_event" class="admin_block">
<a id="new"></a>
  <div class="wrapper">
    <h2>create a groupact:</h2>
    <h3>PLACEHOLDER FOR EVENT CREATION FORM</h3>
    <p class="user_admin_nav"><a href="#top">top</a></p>
  </div>
</div>