<div id="admin_top" class="admin_block">
  <div class="wrapper">
    <h1>your grou<span class="bolder">pact</span> portal: <span class="bolder"><%= user.first_name %> <%= user.last_name %></span></h1>
    <div class='story_image' ></div>
    <p>Create a new grou<span class="bolder">pact</span> event below, view the events you've been invited to, and check out your profile page. Why not get started right now...</p>
    <ul class="user_admin_nav">
      <li><a href="#new">new</a></li>
      <li><a href="#events">events</a></li>
      <li><%= link_to 'profile', profile_path(current_user.url)%></li>
    </ul>
  </div>
</div>
