<div class="writeup">
  <% if current_user == user %>
    <% if user.profile %>
      <p><%= user.profile %></p>
    <% else %>
      <p>You have not yet written a profile, you may do so <%= link_to "here", edit_user_path(user.id) %></p>
    <% end %>
  <% else %>
    <% if user.profile %>
      <p><%= user.profile %></p>
    <% else %>
      <p><%= user.full_name %> has not yet written a profile.</p>
    <% end %>
  <% end %>
</div>