<% unless @created_not_going.empty? %>
  <h5>not going:</h5>
  <ul>
    <% @created_not_going.each do |event| %>
      <li><%= link_to event.title, event_path(event.url) %></li>
    <% end %>
  </ul>
<% end %>