<div class="profile_side">
  <h4>Events:</h4>
  <h3>Attended: <%= user.events_attended.count %></h3>
  <h3>Invited To: <%= user.events.count %></h3>
  <div class="clear"></div>
  <% if user == current_user && user.events_attended.count > 0 %>
  <h4>Past Events:</h4>
  <ul>
    <% user.events_attended.each do |event| %>
      <li><%= link_to event.title, event_path(event.url) %></li>
    <% end %>
  </ul>
  <% end %>
</div>