<div class="wrapper">

<%= render :partial => "users/profile_head", :locals => { :user => @user } %>

<%= render :partial => "users/profile_side", :locals => { :user => @user } %>

<%= render :partial => "users/profile_writeup", :locals => { :user => @user } %>

  <div class="clear"></div>

</div>