<div class="wrapper">

<%= render :partial => "users/profile_side", :locals => { :user => @user } %>

<div class="main-profile">
<%= render :partial => "users/profile_main", :locals => { :user => @user } %>
</div>

<div class="clear"></div>

</div>
