<p id="home_hover">
  Solve your group planning woes by giving everyone what they want. Get firm commitments from friends on attendance at events - concerts, shows, trips, you name it - and only commit to other events if your criteria is met. <br><br>With groupact, you don't have to commit to buying the ticket until your specific conditions have been satisfied! Don't want to be the only person going to a show? Just specify how many other people, or even what specific people, need to go before you're convinced!
</p>


