
<div class="wrapper">

  <h1 id="faq_header"> Learn about the grou<span class="bolder">pact</span> developers! </h1>

  <%= image_tag 'squirrels.jpg', :id => 'faq_pic' %>

  <div class='description_columns'>
    <div class='individual_description'>

      <h1 id="faq_header">Yannick</h1>
      <p></p>
    </div>

    <div class='individual_description'>
      <h1 id="faq_header">Mitch</h1>
      <p>Mitch has affectionately been deemed to be a robot. We on the grou<span class='bolder'>pact</span> team are fairly sure that he doesn't sleep at night and simply plugs into a socket and keeps on going.</p>
      <p>
      </p>
    </div>

    <div class='individual_description'>
      <h1 id="faq_header">Andrew</h1>
      <p>Andrew comes from a fine art background, spent years as an art director for a magazine publisher as well as some time doing freelance web-design. He's excited to get started with his career in web development. An avid photographer, cinema enthusiast, music buff and Cubs fan.</p>
    </div>

  </div>

  <div class="clear"></div>

</div>
