<div class="wrapper">

  <h1 id="faq_header"> Learn about the grou<span class="bolder">pact</span> developers! </h1>
  <span class="easter-egg">
  <%= image_tag 'squirrels.jpg', :id => 'faq_pic' %>
  </span>
  <div class='description_columns'>
    <div class='individual_description'>
      <h1 id="faq_header"><%= link_to 'Yannick', 'https://twitter.com/YDawant', :target => '_blank' %></h1>
      <p>
        To say Yannick is a social butterfly would be akin to mistaking a Hummer for your grandma's sedan. Somehow he manages to simultaneously rock out to German dubstep, geek out with his pair over Ruby and email his mom in French. It's downright impressive.
      </p>
    </div>

    <div class='individual_description'>
      <h1 id="faq_header"><%= link_to 'Mitch', 'https://twitter.com/dontmitch', :target => '_blank'  %></h1>
      <p>
        Mitch is our sometimes lovable robot of a team member. We're fairly sure that he doesn't sleep at night and simply plugs into a socket to stay energized. He also nerds out on algorithms and squashes bugs like a boss.
      </p>
    </div>

    <div class='individual_description'>
      <h1 id="faq_header"><%= link_to 'Andrew', 'https://twitter.com/astamm78' , :target => '_blank'  %></h1>
      <p>
        You know that guy who sits quietly in the back of the classroom and then casually crushes you come test day? That's Andrew. Oh, and his background in fine arts makes him unfairly good at front end design.
      </p>
    </div>

  </div>

  <div class="clear"></div>

</div>
