<%= link_to('Choose Your Conditions...', '#', :id=>'condition_link') %>
<ul id="condition_list">
  <!-- be consistent with your code styling; dont use parentheses around your method arguments -->
  <li><%= link_to('a certain number of people go', '#', :id =>'number_of_people')%></li>
  <li><%= link_to('a certain person goes', '#', :id => 'certain_person_goes') %></li>
</ul>
