<ul class="hover">
  <li class="hoverli">
    <span id='hover-trigger'>List</span>
    <ul class="file_menu">
      <li>If a certain number of people go</li>
      <li>If a certain person goes</li>
    </ul>
  <li>
</ul>
