<%= image_tag @event.image, :class => "event_page_image" %>

<h2>
  <%= best_in_place_if current_user.id == @event.creator_id, @event, :title, :type => :input%>
</h2>
<h3 class='description'>
  <%=  best_in_place_if current_user.id == @event.creator_id, @event, :description, :type => :input%>
</h3>
