<% if event.closed? %>
  <div class="closed">
    <%= image_tag "events/expired.png", :height => "280" %>
  </div>
<% end %>
<%= image_tag @event.image, :class => "event_page_image" %>

<h2>
  <%= best_in_place_if current_user.id == @event.creator_id, @event, :title, :type => :input %>
</h2>
<h3 class='description'>
  <%=  best_in_place_if current_user.id == @event.creator_id, @event, :description, :type => :textarea, :nil => "click here to edit this field" %>
</h3>
