<% if !current_user.stripe_token && @event.creator == current_user && !@event.down_payment %>
  <%= link_to image_tag('/assets/stripe_light.png'), 'https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_22BvZXoycdQiGIYRgvFx3fMNHJzK8MaF' %>
<% end %>

<%= image_tag @event.image, :class => "event_page_image" %>

<h2>
  <%= best_in_place_if current_user.id == @event.creator_id, @event, :title, :type => :input%>
</h2>
<h3 class='description'>
  <%=  best_in_place_if current_user.id == @event.creator_id, @event, :description, :type => :input%>
</h3>
