<ul>
  <li class='invite'> Waffling:
    <br>
    <ul>
      <% event.waffling.each do |invitee| %>
      <li class='invited'><%=link_to(User.find(invitee.user_id).full_name, profile_path(User.find(invitee.user_id).url)) %></li>
      <% end %>
    </ul>
  </li>
  <li class='invite'> Down To Have Fun:
    <ul>
      <% event.going.each do |invitee| %>
      <li class='invited'><%=link_to(User.find(invitee.user_id).full_name, profile_path(User.find(invitee.user_id).url)) %></li>
      <% end %>
    </ul>
  </li>
  <li class='invite'> Missing Out:
    <br>
    <ul>
      <% event.not_going.each do |invitee| %>
      <li class='invited'><%=link_to(User.find(invitee.user_id).full_name, profile_path(User.find(invitee.user_id).url)) %></li>
      <% end %>
    </ul>
  </li>
</ul>
