<div class="wrapper">

  <div class="event_info"> <!-- Main Column -->
    <%= render :partial => "event_info", :locals => { :event => @event } %>
    <%= render :partial => "event_conditions", :locals => { :event => @event } %>
  </div>

  <div class ='vertical'> <!-- Left Column -->
    <%= render :partial => "event_sidebar", :locals => { :event => @event } %>
  </div>

  <div class="clear"></div>

</div>