<div class ='vertical'>
<h1 id='event_header'><%= best_in_place_if current_user.id == @event.creator_id, @event, :title, :type => :input%></h1>
<h3 id='event_description'><%=  best_in_place_if current_user.id == @event.creator_id, @event, :description, :type => :input %></h3>
Creator:
<%= User.find(@event.creator_id).full_name %>

<p>Invited:</p>
<br>
<%= render :partial => "invited_user", :locals => { :event => @event } %>
</div>
