<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %>,</h1>
    <p>
      This is just to say that you have been successfully confirmed to be a part of <%= @event.title %>.
    </p>
    <p>
      Have fun!
    </p>
  </body>
</html>
