/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";

 $home_red:   #ED3419;
 $dark_red: #A01C08;
 $home_green: #00A055;
 $home_blue: #2222ED;
 $home_orange: #FF4E34;

 body:before, body:after {
  content: "";
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  height: 10px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 10px solid white;
  border-right: 10px solid white;
}

html {
  background: white;
  font-family: Helvetica, "Helvetica", sans-serif;
  height: 100%;
}

body {
  background: $home_red;
  min-height: 100%;
  position: relative;
}

h1 a {
  background: url('/assets/home_logo.jpg');
  display: block;
  height: 75px;
  margin: 0 auto;
  text-indent: -999999px;
  width: 300px
}

.alert {
  background: #8f0000;
  border-radius: 20px;
  box-shadow: 0 0 15px black;
  color: white;
  display: block;
  font-size: 18px;
  font-weight: lighter;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  width: 350px;
}

.wrapper {
  padding: 30px 0 0;
  margin: 0 auto;
  width: 900px;
}

.clear {
  clear: both;
  height: 40px;
}

.bolder {
  font-weight: bold !important;
}

h3 {
  color: $dark_red;
  font-size: 34px;
  margin: 0 0 30px;
}

h4 {
  color: $dark_red;
  font-size: 28px;
  margin: 0 0 18px;
}

h5 {
  color: $dark_red;
  font-size: 22px;
  margin: 0 0 12px;
}

/* Home Page Style */

#home_intro,  #home_hover {
  color: white;
  font-size: 22px;
  font-weight: lighter;
  line-height: 32px;
  margin: 70px  auto 0;
  text-align: justify;
  width: 800px;
  strong {
    font-size: 52px;
    font-weight: 100;
  }
}

#home_hover {
  margin: 8px auto;
}

#home_intro {
  cursor: pointer;
  padding: 0 0 20px;
  text-align: center;
}

#home_form_links {
  color: white;
  font-size: 42px;
  font-weight: bolder;
  margin: 0 25% 0;
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 50%;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Login Forms */

.log_in_form,
.join_form {
  margin: 0 auto;
  padding: 30px 0 60px;
  width: 700px;
  h4 {
    color: white;
    font-size: 48px;
    padding: 30px;
    text-align: center;
  }
}

input, textarea {
  border: 5px solid white;
  color: gray;
  font-size: 2em;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.75);
  margin: 0 0 10px 0;
  width: 660px;
}

button {
  background: white;
  border: none;
  color: $home_red;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 14px 0 0;
  padding: 12px;
  &:hover {
    background: $home_red;
    color: white;
    cursor: pointer;
  }
}

a.home_form_close {
  color: white;
  display: block;
  font-size: 24px;
  padding: 30px 0 0;
  text-align: center;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Admin Page */

.admin_block {
  min-height: 1080px;
}

#multiColumn {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#admin_top {
  h1 {
    color: white;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
  }
  ul.user_admin_nav {
    margin: 30px 0 0;
    text-align: center;
    width: 900px;
    li {
      a {
        color: $home_red;
        font-size: 9em;
        font-weight: bold;
        margin: 0 30px;
        text-decoration: none;
        -webkit-text-stroke: 2px white;
        &:hover {
          color: white;
        }
      }
    }
  }
}

#create_event {
  background: $home_green;
}

#invited_events {
  background: $home_blue;
}

#created_events {
  background: $home_orange;
}

.wrapper {
  padding-bottom: 60px;
  h2 {
    color: white;
    display: block;
    font-size: 48px;
    font-weight: lighter;
    margin: 0 0 30px;
  }
  p.user_admin_nav {
    font-size: 28px;
    font-weight: lighter;
    margin: 20px 0 0;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul li a {
    color: white;
    display: inline-block;
    font-size: 24px;
    margin: 0 0 14px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Profile Page */

img.profile_pic {
  background: black;
  border: solid 2px white;
  float: left;
  margin: 0 20px 0 0;
}

#profile {
  padding: 30px 0;
  li, li a {
    color: white;
    font-size: 48px;
    font-weight: lighter;
    span {
      color: $dark_red;
    }
    a {
      display: inline;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.profile_column {
  float: left;
  width: 50%;
  ul {
    margin: 0 0 30px;
    li {
      a {
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }
}

/* Footer */

footer {
  background: white;
  color: gray;
  height: 40px;
  font-weight: normal;
  margin: 0 30% 0;
  min-width: 650px;
  padding: 12px 14px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -325px;
  text-align: center;
  a {
    color: gray;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Event Page */

.event_info {
  float: right;
  padding: 0 0 0 5%;
  width: 65%;
  h2 {
    color: $dark_red;
    margin: 0px;
  }
  h3 {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    line-height: 1.4em;
    margin: 12px 0 30px;
  }
}

.vertical {
  float: left;
  padding: 0 5% 0 0;
  width: 25%;
  p {
    color: white;
    margin: 0 0 8px;
  }
  h2 {
    clear: both;
    font-size: 32px;
    padding: 8px 0 0;
    a {
      color: white;
      &:hover {
        color: $dark_red;
      }
    }
  }
  h3 {
    color: $dark_red;
    font-size: 18px;
    font-weight: lighter;
    margin: 25px 0 12px;
  }
  .invited {
    list-style: none;
    a {
      color: white;
      font-size: 16px;
      line-height: 26px;
      &:hover {
        color: $dark_red;
      }
    }
  }
}

.conditional {
  border-top: solid 10px white;
  h2 {
    color: white;
    font-size: 32px;
    margin: 18px 0 24px;
    p {
      color: white;
      font-size: 24px;
      font-weight: lighter;
      text-align: left;
      margin: 20px;
    }
  }
}

.cond_buttons button, #close_window {
  background: white;
  border: none;
  color: $home_red;
  font-size: 18px;
  font-weight: bolder;
  padding: 12px;
  &:hover {
    background: $home_red;
    color: white;
  }
}

.yes_if, .yes, .thanks, .no {
  background: $home_green;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-top:10px solid white;
  display: none;
  height: 50%;
  padding: 30px;
  position:fixed;
    bottom: 0;
    right: 0;
  width:75%;
  #close_window, #condition_button {
    color: $home_green;
    &:hover {
      background: $home_green;
      color: white;
    }
  }
  p {
    color:white;
    font-size: 48px;
    font-weight: lighter;
    margin: 12px 0;
    text-align:left;
  }
  #sentence {
    color: white;
    font-size: 20px;
  }
  .draggable-options {
    float:right;
    font-size: 24px;
    color: white;
    margin: -40px 20px 0 0;
  }
  #conditions_header{
    text-align:center;
    border-bottom: 5px solid white;
  }
  ul {
    margin-top: 20px;
    li {
      margin-top: 20px;
      text-align: center;
    }
  }
  .bolder {
    color: black;
    font-size: 28px;
    font-weight: bold;
  }
}

.ui-draggable {
  list-style: none;
  color: white;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

.event {
  position:relative;
  float:right;
  width:50%;
  height:50%;
}

.hide {
  display: none;
}
