/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$home_red:   #ff2929;

html {
  background: white;
  min-height: 100%;
}

body {
  background: $home_red;
  margin: 10px;
  min-height: 100%;
}

h1 {
  background: url('/assets/home_logo.jpg');
  height: 75px;
  margin: 0 auto;
  text-indent: -999999px;
  width: 300px
}