/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$home_red:   #ff2929;
$dark_red: darken( $home_red, 30% );
$home_green: #29FF29;
$home_blue: #2929FF;
$home_orange: #ff632f;

body:before, body:after {
  content: "";
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  height: 10px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 10px solid white;
  border-right: 10px solid white;
}

html {
  background: white;
  font-family: Helvetica, "Helvetica", sans-serif;
  height: 100%;
}

body {
  background: $home_red;
  min-height: 100%;
  position: relative;
}

h1 a {
  background: url('/assets/home_logo.jpg');
  display: block;
  height: 75px;
  margin: 0 auto;
  text-indent: -999999px;
  width: 300px
}

.alert {
  background: #8f0000;
  border-radius: 20px;
  box-shadow: 0 0 15px black;
  color: white;
  display: block;
  font-size: 18px;
  font-weight: lighter;
  height: auto;
  padding: 20px;
  position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -200px;
  text-align: center;
  width: 350px;
}

.wrapper {
  padding: 30px 0 0;
  margin: 0 auto;
  width: 900px;
}

h3 {
  color: $dark_red;
  font-size: 34px;
  margin: 0 0 30px;
}

h4 {
  color: $dark_red;
  font-size: 28px;
  margin: 0 0 18px;
}

h5 {
  color: $dark_red;
  font-size: 22px;
  margin: 0 0 12px;
}

/* Home Page Style */

#home_intro,  #home_hover {
  color: white;
  font-size: 32px;
  font-weight: lighter;
  line-height: 44px;
  margin: 70px  auto 0;
  text-align: center;
  width: 80%;
}

#home_form_links {
  color: white;
  font-size: 42px;
  font-weight: bolder;
  margin: 0 25% 0;
  position: absolute;
    bottom: 50px;
  text-align: center;
  width: 50%;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Login Forms */

.log_in_form,
.join_form {
  margin: 0 auto;
  padding: 30px 0 60px;
  width: 700px;
  h4 {
    color: white;
    font-size: 48px;
    padding: 30px;
    text-align: center;
  }
}

input, textarea {
    border: 5px solid white;
    color: gray;
    font-size: 2em;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.75);
    margin: 0 0 10px 0;
    width: 660px;
}

button {
  background: white;
  border: none;
  color: $home_red;
  font-size: 18px;
  font-weight: bolder;
  padding: 12px;
}

button:hover {
  background: $home_red;
  color: white;
  cursor: pointer;
}

a.home_form_close {
  color: white;
  display: block;
  font-size: 24px;
  padding: 30px 0 0;
  text-align: center;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Admin Page */

.admin_block {
  min-height: 900px;
  margin: 0 0 50px;
}

#multiColumn {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#admin_top {
  h1 {
    color: white;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
  }
  ul {
    margin: 30px 0 0;
    text-align: center;
    width: 900px;
    li {
      display: inline-block;
      a {
        color: $dark_red;
        font-size: 3em;
        font-weight: bold;
        margin: 0 20px;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}

#create_event {
  background: $home_green;
}

#invited_events {
  background: $home_blue;
}

#created_events {
  background: $home_orange;
}

.wrapper {
  padding-bottom: 600px;
  h2 {
    color: white;
    display: block;
    font-size: 48px;
    font-weight: lighter;
    margin: 0 0 30px;
  }
  p.user_admin_nav {
    font-size: 28px;
    font-weight: lighter;
    margin: 20px 0 0;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul li a {
    color: white;
    display: inline-block;
    font-size: 24px;
    margin: 0 0 14px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Profile Page */

#profile {
  padding: 30px 0;
  li, li a {
    color: white;
    font-size: 48px;
    font-weight: lighter;
    span {
      color: $dark_red;
    }
    a {
      display: inline;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.profile_column {
  float: left;
  padding: 0 2.5%;
  width: 45%;
  ul {
    margin: 0 0 30px;
    li {
      a {
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }
}

/* Footer */

footer {
  background: white;
  color: $home_red;
  height: 40px;
  font-weight: normal;
  margin: 0 30% 0;
  min-width: 650px;
  padding: 12px 14px 0;
  position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -325px;
  text-align: center;
  a {
    color: $home_red;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Event Page */

#event_header {
 color: white;
  font-size: 32px;
  font-weight: lighter;
  text-align: left;
  margin: 20px;
}

#event_description {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  margin: 20px;
}

#creator {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  margin: 20px;
}

.invite {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin-top: 50px;
}

.vertical {
position:fixed;
border-right:10px solid white;
width: 25%;
height:100%;
margin-top:-65px;
background-color: $home_blue;
}

.invited {
  a{
  text-decoration:none;
  }
}

.conditional {
  position:fixed;
  width:74%;
  height: 40%;
  bottom: 0;
  right: 0;
  border-top:10px solid white;
  background: $home_green;
}

.conditional p {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  margin: 20px;
}

.event {
  position:relative;
  float:right;
  width:50%;
  height:50%;
}

.hide {
  display: none;
}
